<% action_path = method == :post ? gangs_url : gang_url(gang.id) %>

<form action="<%= action_path %>" method="post">
  <label for="gang_name">Gang Name</label>
  <input type="text" name="gang[name]" value="<%= gang.name %>" id="gang_name">
  <label for="bio">Bio</label>
  <input type="text" name="gang[bio]" id="bio">
  <input type="submit" value="Create Gang">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% unless method==:post %>
    <input type="hidden" name="_method" value="<%= method %>">
  <% end %>
</form>
